/*Общие стили*/
body {
  min-width: 1160px;
  min-height: 1925px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
}

.button {
  display: block;

  color: #ffffff;
  font-weight: 500;

  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 0;
}

/*Стили для шапки*/

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  width: 1160px;
  margin: 0;
  padding-top: 50px;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation ul {
  padding: 0;
}

.main-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
  margin-left: 202px;
}

.user-navigation {
  display: flex;
  margin-left: 286px;
}

.user-navigation li,
.site-navigation li {
  display: block;
  padding-top: 10px;
}

.user-navigation .cart {
  position: relative;
}

.cart::before {
  content: "";

  position: absolute;
  top: 0;
  left: -35px;

  height: 15px;
  width: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Стили основной части*/

/*Стили для слайдера*/

.slider {
  margin: 0;
  background-color: #eeeeee;
}

.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.slider-item {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
}

.slider-item .slider-item-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 413px;
  max-width: 530px;
}

.slider-item:nth-child(2) .slider-item-description {
  min-height: 430px
}

.slider-item:nth-child(3) .slider-item-description {
  min-height: 411px
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture.png");
  background-repeat: no-repeat;
  background-position: 430px top;
  background-size: 698px 413px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 496px top;
  background-size: 663px 430px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 401px top;
  background-size: 759px 411px;
}

.slider-item-description h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  margin: 0;
  margin-bottom: 28px;
}

.slider-item-description p {
  margin: 0;
  margin-bottom: 42px;
  width: 408px;

  line-height: 24px;
  color: #283136;
}

.slider-item-description .button {
  background-color: #fb565a;
  width: 240px;
}

/*Стили для блока преимуществ*/
.advantages {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  width: 300px;
}

.advantages-item::before {
  content: "";

  display: block;
  width: 300px;
  height: 146px;

  background-image: url("../img/advantage-red.png");
}

.advantages-item:nth-child(2)::before {
  background-image: url("../img/advantage-green.png");
}

.advantages-item:nth-child(3)::before {
  background-image: url("../img/advantage-yellow.png");
}

.advantages-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.advantages-item p {
  line-height: 24px;
  color: #283136;

  width: 240px;
}

.advantages-item .button {
  width: 160px;
}

.section-advantages::after {
  display: block;
  content: "";
  margin: 80px 140px 0 140px;
  height: 2px;
  background-color: #eeeeee;
}

/*Стили для блока с основной информацией*/

.main-information-wrapper {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  min-height: 375px;

  display: flex;
  justify-content: space-between;
}

.short-description {
  width: 650px;

  display: flex;
  flex-direction: column;
}

.short-description > h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #283136;

  margin: 0;
  margin-top: 40px;
}

.short-description p {
  margin: 0;
  margin-top: 35px;

  line-height: 24px;
}


.description-service {
  padding: 0;
  margin: 0;
}

.description-service li {
  position: relative;
  padding-left: 35px;
  margin: 0;
  margin-top: 35px;

  color: #283136;
}

.description-service-heading {
  margin: 0;
  margin-top: 47px;
}

.description-service li::before {
  content: "";

  width: 25px;
  height: 2px;

  position: absolute;
  top: 6px;
  left: 0px;

  background-color: #fb565a;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.statistic-item::before {
  content: "";
  width: 360px;
  height: 208px;
  background-image: url("../img/nerds-picture.png");
  align-self: stretch;
}

.statistic-item p {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 41px;
  margin-bottom: 49px;
}

.statistic table {
  table-layout: auto;
  align-self: flex-start;
}

.statistic-percent td {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  height: 50px;
}

.statistic-description td {
  line-height: 18px;
  color: #283136;

  height: 35px;
  padding-top: 10px;
}

.main-information::after {
  display: block;
  content: "";
  margin: 80px 140px 0 140px;
  height: 2px;
  background-color: #eeeeee;
}

.partners {
  display: flex;
  margin: 0;
  margin-top: 46px;
  justify-content: space-between;
  padding: 0;
}

.partners li {
  padding: 0;
}

.partners .html-academy {
  display: block;
  width: 199px;
  height: 68px;
  background-image: url("../img/htmlacademy-logo.png");
}

.partners .barber {
  display: block;
  width: 209px;
  height: 90px;
  background-image: url("../img/borodinski-logo.png");
}

.partners .pink {
  display: block;
  width: 185px;
  height: 52px;
  background-image: url("../img/pink-logo.png");
}

.partners .mishka {
  display: block;
  width: 173px;
  height: 84px;
  background-image: url("../img/mishka-logo.png");
}

.section-partners::after {
  display: block;
  content: "";
  margin: 0;
  margin-top: 44px;
  height: 2px;
  background-color: #eeeeee;
}

/*оформление карты*/

.adress-and-contacts {
  text-align: center;
  margin-top: 80px;
}

.map-container {
  position: relative;

  width: 1160px;
  margin: 0 auto;
}

.studio-contacts {
  width: 318px;
  height: 307px;
  background-color: white;

  position: absolute;
  top: -362px;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.studio-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 54px;
  margin-bottom: 32px;
}

.studio-contacts p {
  color: #666666;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px;
}

.studio-contacts .button {
  width: 219px;
  margin-top: 12px;
  border: none;
}

.map-marker {
  position: absolute;
  top: -327px;
  left: 680px;
  z-index: 2;
}

/*Оформление подвала*/

.main-footer {
  display: flex;
  margin-top: 78px;
  justify-content: flex-start;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer-social {
  align-self: flex-end;
  margin-left: 139px;
}

.footer-social-motto {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  margin: 0;
}

.footer-social-discount {
  color: #444444;
  line-height: 22px;
}

/*Оформление каталога*/

.inner-heading-container {
  background-color: #eeeeee;
  margin: 0;
  padding-top: 82px;
  padding-bottom: 116px;
}

.inner-heading-container h1 {
  margin: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.inner-main-container {
  display: flex;
  justify-content: space-between;
}

.main-sorting-and-examples {
  width: 760px;
}

.main-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 625px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;

  width: 300px;
}

.inner-filter {
  margin-right: 140px;
}

/*Оформление примеров работ*/

.section-examples ul {
  padding: 0;
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-examples li  {
  margin-bottom: 30px;
  position: relative;
}

.example-item-information {
  display: none;
  width: 360px;
  height: 196px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 35px;

  position: absolute;
  top: 345px;
  left: 0;
  z-index: 2;
}

.example-item-information a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.example-item-information .example-item-description {
}

.example-item-information .button {
  width: 200px;
  margin: 30px auto 0 auto;
}

.work-example-item:hover .example-item-information {
  display: block;
}
