/*Общие стили*/
body {
  min-width: 1160px;
  min-height: 1925px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.button {
  display: block;
  padding: 0;

  color: #ffffff;
  font-weight: 500;
  border-radius: 5% 5%;

  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

/*Стили для шапки*/

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  margin: 0;
  padding-top: 50px;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation ul {
  padding: 0;
}

.main-navigation a {
  color: #000000;
  font-weight: 700;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 450px;
  margin-left: 200px;
  margin-right: 73px;
}

.site-navigation li:nth-child(1) {
  margin-right: 46px;
}

.site-navigation li:nth-child(2) {
  margin-right: 42px;
}

.site-navigation li:nth-child(3) {
  margin-right: 43px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.user-navigation li,
.site-navigation li {
  display: block;
  padding-top: 10px;

  list-style: none;
}

.main-navigation .current-page {
  position: relative;
}

.main-navigation .current-page::after {
  content: "";

  position: absolute;
  left: 0;
  top: 40px;

  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.user-navigation .cart {
  position: relative;
}

.cart::before {
  content: "";

  position: absolute;
  top: 0;
  left: -35px;

  height: 15px;
  width: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}
/*Стили основной части*/

/*Стили для слайдера*/

.slider {
  margin: 0;
  background-color: #eeeeee;
  position: relative;
}

.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.slider-item {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
}

.slider-item .slider-item-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 419px;
  max-width: 530px;
}

.slider-item:nth-child(2) .slider-item-description {
  min-height: 430px
}

.slider-item:nth-child(3) .slider-item-description {
  min-height: 411px
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture.png");
  background-repeat: no-repeat;
  background-position: 430px 6px;
  background-size: 698px 413px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 496px top;
  background-size: 663px 430px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 401px top;
  background-size: 759px 411px;
}

.slider-item-description h3 {
  font-size: 57px;
  font-weight: 500;
  line-height: 55px;

  margin: 68px 0 25px 0;
}

.slider-item-description p {
  margin: 0;
  margin-bottom: 37px;
  width: 408px;

  line-height: 25px;
  color: #283136;
  font-size: 16px;
  font-weight: 500;
}

.slider-item-description .button {
  background-color: #fb565a;
  width: 240px;
  line-height: 53px;
}

.slider-item-description .button:hover,
.slider-item-description .button:focus {
  background-color: #e74246;
}

.slider-item-description .button:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.slider-switch {
  position: absolute;
  top: 73%;
  left: 47%;
}

.slider-switch input[type="radio"] {
  display: none;
}

.slider-switch label {
  display: inline-block;
  margin: 0;
  margin-right: 12px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input:checked + label[for=btn-1],
input:checked + label[for=btn-2],
input:checked + label[for=btn-3] {
  content: url("../img/active-button.svg")
}

/*Стили для блока преимуществ*/
.advantages {
  margin: 0;
  margin-top: 81px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages li {
  list-style: none;
}

.advantages-item {
  width: 300px;
  margin-right: 100px;
}

.advantages-item:last-child {
  margin-right: 0;
}


.advantages-item h3 {
  text-transform: uppercase;
  font-size: 23px;
  line-height: 24px;
  font-weight: 500;

  padding-left: 0px;
  margin: 25px 0 20px 0;
}

.advantages-item p {
  line-height: 24px;
  color: #283136;

  width: 240px;
  margin: 0;
  margin-bottom: 32px;
}

.advantages-item .button {
  width: 160px;
}

.advantages-item .button:hover,
.advantages-item .button:focus {
  background-color: #e74246;
}

.advantages-item .button:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.advantages-item:nth-child(2) .button {
  background-color: #00ca74;
}

.advantages-item:nth-child(2) .button:hover,
.advantages-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.advantages-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.advantages-item:nth-child(3) .button {
  background-color: #efc84a;
}

.advantages-item:nth-child(3) .button:hover,
.advantages-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.advantages-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.section-advantages::after {
  display: block;
  content: "";
  margin: 80px 140px 0 140px;
  height: 2px;
  background-color: #eeeeee;
}

/*Стили для блока с основной информацией*/

.main-information-wrapper {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  min-height: 375px;

  display: flex;
  justify-content: space-between;
}

.short-description {
  width: 650px;

  display: flex;
  flex-direction: column;
}

.short-description > h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #283136;

  margin: 0;
  margin-top: 34px;
}

.short-description p {
  margin: 0;
  margin-top: 33px;

  line-height: 24px;
  font-size: 16px;
}


.description-service {
  padding: 0;
  margin: 0;
}

.description-service li {
  position: relative;
  padding-left: 35px;
  margin: 0;
  margin-top: 32px;

  list-style: none;
  color: #283136;
}

.description-service li:nth-child(2) {
  margin-top: 30px;
}

.description-service li:nth-child(3) {
  margin-top: 29px;
}

.description-service-heading {
  margin: 0;
  margin-top: 41px;
  text-transform: uppercase;
  font-size: 15px;
}

.description-service li::before {
  content: "";

  width: 25px;
  height: 2px;

  position: absolute;
  top: 7px;
  left: 0px;

  background-color: #fb565a;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.statistic-item img {
  align-self: stretch;
  margin-bottom: 10px;
}

.statistic-item p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 26px;
  margin-bottom: 35px;
}

.statistic table {
  table-layout: auto;
  align-self: flex-start;
}

.statistic-percent td {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;

  padding-bottom: 4px;
  height: 50px;
  width: 102px;
}

.statistic-percent td:last-child {
  width: 100px;
}

.statistic-description td {
  line-height: 18px;
  color: #283136;

  height: 35px;
  padding-top: 10px;
}

.percent-style {
  font-size: 24px;
}

/*Оформление списка партнеров*/

.partners {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 46px;
  justify-content: flex-start;
  padding: 0;
  padding-left: 30px;
}

.partners li {
  padding: 0;
  list-style: none;

  opacity: 0.2;
}

.partners li:nth-child(1) {
  padding-top: 14px;
}

.partners li:nth-child(2) {
  margin-left: 95px;
}

.partners li:nth-child(3) {
  padding-top: 17px;
  margin-left: 103px;
}

.partners li:nth-child(4) {
  padding-top: 5px;
  margin-left: 122px;
}

.partners li:hover,
.partners li:focus {
  opacity: 1;
}

.partners li:active {
  opacity: 0.1;
}

.section-partners::after {
  display: block;
  content: "";
  margin: 0;
  margin-top: 40px;
  height: 2px;
  background-color: #eeeeee;
}

.section-partners::before {
  display: block;
  content: "";
  margin: 0;
  margin-top: 74px;
  margin-bottom: 46px;
  height: 2px;
  background-color: #eeeeee;
}

/*оформление карты*/

.adress-and-contacts {
  margin-top: 80px;
}

.map-container {
  position: relative;

  width: 1160px;
  margin: 0 auto;
}

.studio-adress {
  width: 200px;
}

.studio-contacts {
  box-sizing: border-box;
  width: 318px;
  height: 307px;
  background-color: white;
  padding-left: 49px;

  position: absolute;
  top: -366px;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
}

.studio-label {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 49px;
  margin-bottom: 23px;
}

.studio-contacts p {
  color: #666666;
  line-height: 18px;
  margin: 0;
  margin-bottom: 17px;
}

.studio-contacts .button {
  width: 219px;
  margin-top: 19px;
  border: none;
}

.map-marker {
  position: absolute;
  top: -331px;
  left: 679px;
  z-index: 2;
}

/*Оформление подвала*/

.main-footer {
  display: flex;
  margin-top: 51px;
  margin-bottom: 70px;
  justify-content: flex-start;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  padding: 0;
}

.social-networks li {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button:active svg {
  opacity: 0.3;
}

.footer-social {
  margin-left: 139px;
  padding-top: 20px;
}

.footer-social-motto {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  margin: 0;
}

.footer-social-discount {
  color: #444444;
  line-height: 22px;

  margin: 0;
  margin-top: 10px;
}

/*Оформление каталога*/

.inner-heading-container {
  background-color: #eeeeee;
  margin: 0;
  padding-top: 67px;
  padding-bottom: 105px;
}

.inner-heading-container h1 {
  margin: 0;
  text-align: center;
  font-size: 57px;
  line-height: 55px;
  font-weight: 500;
}

.inner-main-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
}
/*Оформление сортировки*/

.main-sorting-and-examples {
  width: 760px;
  margin-top: 45px;
}

.main-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 760px;
}

.main-sorting li {
  list-style: none;
}

.main-sorting h2 {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 360px;
  padding: 0;
  margin: 0;
}

.sorting-list a {
  color: #000000;
}

.sorting-list .list-parametr {
  opacity: 0.3;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list .list-parametr:hover,
.sorting-list .list-parametr:focus {
  opacity: 0.6;
}

.sorting-list .list-parametr:active {
  opacity: 1;
}

.sorting-list .current-parametr {
  opacity: 1;
}

.sorting-parametrs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 270px;

  padding: 0;
}

.up-down-sorting {
  display: flex;
  justify-content: space-between;
  min-width: 40px;

  padding: 0;
}

.inner-filter {
  margin-right: 140px;
}

/*Оформление примеров работ*/

.section-examples ul {
  padding: 0;
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 40px;
  margin-bottom: 25px;
}

.work-examples li  {
  margin-bottom: 30px;
  list-style: none;

  position: relative;
}

.example-item-information {
  display: none;
  width: 360px;
  min-height: 196px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 30px;

  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
}

.example-item-information a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.example-item-information a:hover,
.example-item-information a:focus {
  color: #fb565a;
}

.example-item-information a:active {
  color: rgba(0, 0, 0, 0.3);
}

.example-item-information .example-item-description {
  color: #666666;
  line-height: 18px;
}

.example-item-information .example-item-price {
  width: 200px;
  margin: 30px auto 0 auto;

  font-weight: 500;
}

.work-example-item:nth-child(1) .example-item-description {
  padding: 0 91px;
}

.work-example-item:nth-child(2) .example-item-description {
  padding: 0 60px;
}

.work-example-item:nth-child(3) .example-item-description {
  padding: 0 97px;
}

.work-example-item:nth-child(4) .example-item-description {
  padding: 0 111px;
}

.work-example-item:nth-child(5) .example-item-description {
  padding: 0 73px;
}

.work-example-item:nth-child(6) .example-item-description {
  padding: 0 76px;
}

.example-item-information .example-item-price:focus,
.example-item-information .example-item-price:hover {
  background-color: #e74246;
}

.example-item-information .example-item-price:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.work-example-item::before {
  display: block;
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
}

.work-example-item:hover::before {
  opacity: 1;
}

.work-example-item:hover .example-item-information {
  display: block;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  width: 44px;
  height: 44px;
  border: 3px solid #eeeeee;
  border-radius: 5%;

  color: #000000;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.pagination-item:last-child a {
  width: 256px;
}

.pagination-item:hover a,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active a {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  background-color: #ffffff;
  border-color: #dbdbdb;
}

/*Разметка фильтров*/
.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item li {
  list-style: none;

  margin-bottom: 21px;
}

.filter-item li:last-child {
  margin-bottom: 0;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-item:not(:first-child) legend {
  margin-bottom: 18px;
}

.catalog-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  padding-left: 36px;
  margin-bottom: 15px;
}

.filter-option label {
  position: relative;

  display: block;

  color: #283136;

  cursor: pointer;
  user-select: none;
}

.filter-button {
  margin-top: 55px;
  width: 260px;

  background-color: #eeeeee;

  color: #000000;
  font-weight: 500;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*Разметка фильтра с ползунками*/
.filter-item-range {
  margin-top: 58px;
}

.range-filter {
  width: 260px;
  margin-top: 47px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 17px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 162px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 55px;
  padding: 8px 11px;
  margin-left: 9px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Разметка фильтра с радио-кнопками*/
.filter-item-radio {
  margin-top: 57px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -5px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  top: -5px;
  left: -37px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  opacity: 1;
}

.filter-input-radio:checked:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio:checked:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

/*Разметка фильтра с чекбоксами*/
.filter-item-checkbox {
  margin-top: 45px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -37px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked:disabled + label::before {
  opacity: 0.1;
}

.filter-input-checkbox:checked:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

/*Оформление модального окна*/

.modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  width: 960px;
  height: 590px;
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 70px;
  padding-right: 100px;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-active {
  display: block;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 43px;
}

.modal p {
  display: inline-block;
  margin: 0;
}

.modal .modal-field-name {
  margin-right: 35px;
  margin-bottom: 33px;
}

.modal .modal-field-letter {
  margin-bottom: 46px;
}

.modal .button {
  width: 260px;

  border: none;
}

.modal label {
  display:block;

  font-weight: 700;
  line-height: 18px;
}

.modal input {
  width: 360px;
  box-sizing: border-box;
  border: solid 2px #d7dcde;

  color: rgba(68, 68, 68, 0.5);

  padding-top: 17px;
  padding-left: 14px;
  padding-bottom: 19px;
}

.modal input:hover {
  border: solid 2px #b4b9bb;
}

.modal input:focus {
  color: #444444;

  border: solid 2px #000000;
}

.modal input:invalid {
  color: #e74246;

  border: solid 2px #e74246;
}

.modal-field-letter textarea {
  width: 760px;
  box-sizing: border-box;

  padding-top: 17px;
  padding-left: 14px;
  padding-bottom: 88px;
}

.modal-close {
  position: absolute;
  top: 82px;
  right: 90px;

  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  border: 0;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}
