/*Общие стили*/
body {
  width: 1440px;
  min-height: 1925px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: block;

  color: #ffffff;
  font-weight: 500;

  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

/*Стили для шапки*/

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: 0 140px 0 140px;
  padding-top: 50px;

  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;
}

.user-navigation {
  display: flex;
}

.user-navigation li,
.site-navigation li {
  display: block;
  padding-top: 10px;
}

.user-navigation .cart {
  position: relative;
}

.cart::before {
  content: "";

  position: absolute;
  top: 0;
  left: -35px;

  height: 15px;
  width: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Стили основной части*/

.slider-wrapper {
  margin: 0;
  min-height: 413px;
  padding: 0 140px 0 140px;
  background-color: #eeeeee;
}

.slider-item {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
}

.slider-item .slider-item-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 530px;
  min-height: 413px
}

.slider-item .slider-item-description:nth-child(2) {
  min-height: 430px
}

.slider-item .slider-item-description:nth-child(3) {
  min-height: 411px
}


.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture.png");
  background-repeat: no-repeat;
  background-position: 430px top;
  background-size: 698px 413px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 496px top;
  background-size: 663px 430px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 401px top;
  background-size: 759px 411px;
}

.slider-item-description h3 {
  font-size: 55px;
  font-weight: 600;
  line-height: 55px;

  margin: 0;
  margin-bottom: 28px;
}

.slider-item-description p {
  margin: 0;
  margin-bottom: 42px;
  width: 408px;

  line-height: 24px;
}

.slider-item-description .button {
  background-color: #fb565a;
  width: 240px;
}


.advantages {
  margin: 80px 200px 0 140px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  width: 300px;
}

.advantages-item::before {
  content: "";

  display: block;
  width: 300px;
  height: 146px;

  background-image: url("../img/advantage-red.png");
}

.advantages-item:nth-child(2)::before {
  background-image: url("../img/advantage-green.png");
}

.advantages-item:nth-child(3)::before {
  background-image: url("../img/advantage-yellow.png");
}

.advantages-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.advantages-item p {
  line-height: 24px;
  width: 240px;
}

.advantages-item .button {
  width: 160px;
}
